.registerPage {
    height: 100vh;
    width: 100%;
    margin: auto;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 7px 50px rgb(214, 223, 213);
  }
  .registerPage .container {
    height: 75vh;
    width: 60%;
    margin: auto;
    justify-content: space-between;
    border-radius: 10px;
    background-color: hsl(0, 0%, 91%);
  }
  .registerPage .container .videoDiv {
    position: relative;
    display: flex;
    flex-basis: 50%;
    width: 70%;
    height: 100%;
    padding: 0 1.5rem;
    text-align: center;
    justify-content: center;
    flex-direction: column;
    margin: auto;
    border-radius: 10px;
    overflow: hidden;
  }
  .registerPage .container .videoDiv video, .registerPage .container .videoDiv .footerDiv {
    position: absolute;
  }
  .registerPage .container .videoDiv video {
    height: 100%;
    width: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }
  .registerPage .container .videoDiv .textDiv {
    position: relative;
  }
  .registerPage .container .videoDiv .textDiv .title {
    color: var(--whiteColor);
    font-size: 41px;
    font-weight: 800;
  }
  .registerPage .container .videoDiv .textDiv .paragraph {
    padding: 1rem;
    color: var(--blackColor);
    font-weight: 800;
  }
  .registerPage .container .videoDiv .footerDiv {
    bottom: 10px;
    padding: 0 1rem;
    height: 60px;
    background: rgba(255, 255, 255, 0.248);
    left: 10px;
    right: 10px;
    justify-content: space-between;
    -webkit-backdrop-filter: blur(1px);
            backdrop-filter: blur(1px);
    border-radius: 10px;
  }
  .registerPage .container .videoDiv .footerDiv .text {
    color: var(--blackColor);
    font-weight: 500;
  }
  .registerPage .container .videoDiv .footerDiv .btn {
    background: var(--whiteColor);
    color: var(--blackColor);
    padding: 0.8rem 1.5rem;
    border-radius: 10px;
    font-weight: 400;
    transition: 0.3s ease;
  }
  .registerPage .container .videoDiv .footerDiv .btn:hover {
    background: var(--hoverColor);
    color: var(--blackColor);
  }
  .registerPage .container .formDiv {
    flex-basis: 50%;
    margin: auto;
    flex-direction: column;
    gap: 1.5rem;
    transform: translateY(-1rem);
    justify-content: space-between;
  }
  .registerPage .container .formDiv .headerDiv {
    text-align: center;
    padding: 1.5rem 0;
  }
  .registerPage .container .formDiv .headerDiv img {
    width: 200px;
    padding: 0.5rem;
  }
  .registerPage .container .formDiv .headerDiv h3 {
    font-size: 25px;
    color: var(--blackColor);
    font-weight: 600;
  }
  .registerPage .container .formDiv .form {
    gap: 1rem;
  }
  .registerPage .container .formDiv .form .inputDiv .icon {
    color: var(--greyText);
  }
  .registerPage .container .formDiv .form .inputDiv input {
    background: none;
    outline: none;
    border: none;
    width: 200px;
  }
  .registerPage .container .formDiv .form .inputDiv label {
    color: var(--blackColor);
    font-weight: 400;
    font-size: 14px;
    padding: 0.5rem 0;
    display: block;
  }
  .registerPage .container .formDiv .form .inputDiv .input {
    gap: 0.5rem;
    padding: 1rem;
    background: var(--inputColor);
    border-radius: 10px;
  }
  .registerPage .container .formDiv .form .btn {
    padding: 0.8rem;
    background: var(--primaryColor);
    border-radius: 10px;
    color: var(--whiteColor);
    align-items: center;
    margin: auto;
    justify-content: center;
    font-size: 16px;
    width: 100%;
    gap: 0.5rem;
    transition: 0.3s ease;
  }
  .registerPage .container .formDiv .form .btn .icon {
    font-size: 25px;
    transition: 0.3s ease;
  }
  .registerPage .container .formDiv .form .btn:hover {
    background: var(--hoverColor);
    color: var(--blackColor);
  }
  .registerPage .container .formDiv .form .btn:hover .icon {
    color: var(--blackColor);
    transform: translateX(5px);
  }
  .registerPage .container .formDiv .form .forgotPassword {
    font-size: 13px;
    color: var(--blackColor);
    opacity: 0.7;
    text-align: center;
  }
  .registerPage .container .formDiv .form .forgotPassword a {
    text-decoration: underline;
    cursor: pointer;
  }