.tags-input {
  display: flex;
  flex-wrap: wrap;
  min-height: 30px;
  max-height: 40px; /* Set a maximum height */
  overflow-y: auto; /* Make it scrollable */
  padding: 0 8px;
  border-radius: 6px;
  max-width: 200px;
  &:focus-within {
    border: 1px solid #0052cc;
  }

  ul {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    margin: 8px 0 0 0;
    list-style: none;
  }

  .tag {
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    padding: 0 8px;
    font-size: 14px;
    list-style: none;
    border-radius: 6px;
    margin: 0 8px 8px 0;
    background: #0052cc;
    max-width: calc(100% - 16px); 

    .tag-title {
      margin-top: 3px;
    }

    .tag-close-icon {
      display: block;
      width: 16px;
      height: 16px;
      line-height: 16px;
      text-align: center;
      font-size: 14px;
      margin-left: 8px;
      color: #0052cc;
      border-radius: 50%;
      background: #fff;
      cursor: pointer;
    }
  }
}

.tags-input-field {
  overflow: auto; /* Change from scroll to auto */
  max-height: 48px; /* Set a maximum height */
  resize: none; /* Disable textarea resizing */
}
