.list--header {
    display: flex;
    margin:  2rem 0;
    justify-content: space-between;
}

.list--header h2 {
    color: #526d82;
}

.list--container {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.list {
    display: flex;
    padding: 10px;
    align-items: center;
    justify-content: space-between;
    transition: 0.3s ease-in-out;
}

.teacher--detail {
    display: flex;
    align-items: center;
    gap: 20px;
    color: #526d82;
}

.list:hover {
    background: #dde6ed;
    border-radius: 10px;
}

.teacher--todo {
    background-color: red;
    color: white;
    padding: 10px;
    border-radius: 10px;
}

.teacher--todo:hover {
    background-color: white;
    color: red;
    padding: 10px;
    border-radius: 10px;
    transition: 0.3s ease-in-out;
}

.teacher--add {
    background-color: #526d82;
    color: white;
    padding: 10px;
    border-radius: 10px;
}

.teacher--add:hover {
    background-color: white;
    color: #526d82;
    padding: 10px;
    border-radius: 10px;
    transition: 0.3s ease-in-out;
}