@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: "Nunito", sans-serif;
}

:root {
    --primaryColor: #27374d;
    --accentColor: #dde6ed;
    --darkColorTwo: #2c203b;
}

body {
    height: 100vh;
    overflow: hidden;
}

h2 {
    color: var(--darkColorTwo);
    text-align: center;
    font-weight: 500;
}

input {
    color: var(--primaryColor);
    background-color: transparent;
    border: none;
    border-bottom: solid 1px var(--primaryColor);
    padding-inline: 0.1rem;
    padding-bottom: 0.1rem;
    font-weight: bold;
    font-size: 1rem;
}

button {
    color: var(--accentColor);
    background-color: var(--primaryColor);
    border: none;
    border-radius: 14px;
    padding: 0.4rem 0.8rem;
    width: 100%;
    font-size: 1.2rem;
    box-shadow: 0 1px 5px 1px rgba(87, 86, 86, 0.27);
    transition: 0.2s ease-in-out;
    cursor: pointer;
    margin-top: 1rem;
}

button:active {
    box-shadow: none;
    transform: scale(0.9);
}

.customcontainer {
    display: flex;
    align-items: center;
    flex-direction: column;
    border-radius: 14px;
    padding-block: 2rem;
    margin-top: 0rem;
    margin-bottom: 0.5rem;
    margin-inline: auto;
    width: 75%;
    max-width: 600px;
    height: auto;
    max-height: none;
    box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.572);
    background-color: var(--accentColor);
}

.inputcustomcontainer {
    display: flex;
    margin-block: 0.7rem;
    gap: 1rem;
}
select{
    background-color: #dde6ed;
}


