.headerAdd {
    color: #2c203b;
    text-align: center;
    font-weight: 500;

}
.inputContainerAdd {
    color: #2c203b;
    background-color: transparent;
    border: none;
    border-bottom: solid 1px 27374d;
    padding-inline: 0.2rem;
    padding-bottom: 0.2rem;
    font-weight: bold;
}
.submitButton {
    color: #dde6ed;
    background-color: 27374d;
    border: none;
    border-radius: 14px;
    padding: 0.4rem 0.8rem;
    width: 50%;
    font-size: 1.2rem;
    box-shadow: 0 1px 5px 1px rgba(87, 86, 86, 0.27);
    transition: 0.2s ease-in-out;
    cursor: pointer;
}
.submitButton:active {
    box-shadow: none;
    transform: scale(0.9);
}
.containerAdd {
    display: flex;
    align-items:  center;
    flex-direction: column;
    border-radius: 14px;
    padding-block: 3rem;
    margin-top: 0.5rem;
    margin-bottom: 1.5rem;
    margin-inline: auto; 
    width: 75%;
    max-width: 600px;
    height: 100%;
    max-height: 550px;
    box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.572);
    background-color: #dde6ed;
}
.inputContainerAdd {
    display: flex;
    flex-direction: column;
    margin-block: 1rem;
    gap: 0.5rem;
}
:focus {
    outline:none;
}
.bottomFormAdd {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}